In [1]:
%autosave 0
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

Autosave disabled

# Dictionaries

A <em style="color:blue;">binary relation</em> $R$ is a subset of the cartesian product of two sets $A$ and $B$, i.e. if $R$ is a binary relation we have:
$$ R \subseteq A \times B $$
A binary relation $R \subseteq A \times B$ is a <em style="color:blue;">functional relation</em> if and only if we have:
$$ \forall x \in A: \forall y_1, y_2 \in B: \bigl(
     \langle x, y_1\rangle \in R \wedge \langle x, y_2\rangle \in R
     \rightarrow y_1 = y_2
   \bigr)
$$
If $R$ is a functional relation, then $R \subseteq A \times B$ can be interpreted as a function
$$ f_R:A \rightarrow B $$
that is defined as follows:
$$ f_R(x) := y \quad\mbox{iff}\quad \langle x, y\rangle \in R. $$

In *Python* a functional relation $R \subseteq A \times B$ can be represented as a **dictionary**, provided $R$ is finite.  The empty dictionary is defined as follows:

In [2]:
emptyDict = {}

In order to define a functional relation $R$ of the form
$$ \bigl\{ \langle x_1, y_1\rangle, \cdots, \langle x_n, y_n\rangle \bigr\} $$ 
we have to write the following Python code
<code>
    { x1:y1, ..., xn:yn }
</code>
An example will clarify this.  The dictionary <tt>Number2English</tt> maps the first seven numbers to their English names.

In [3]:
Number2English = { 1:'one', 2:'two', 3:'three', 4:'four', 5:'five', 
                   6:'six', 7:'seven', 8:'eight', 9:'nine'
                 }
Number2English

{1: 'one',
 2: 'two',
 3: 'three',
 4: 'four',
 5: 'five',
 6: 'six',
 7: 'seven',
 8: 'eight',
 9: 'nine'}

Here, the numbers $1, \cdots, 9$ are called the <em style="color:blue;">keys</em> of the dictionary.

We can use the dictionary <tt>Number2English</tt> as if it were a function: If we write
$\texttt{Number2English[}k\texttt{]}$, then this expression will return the name of the number $k$ provided $k \in \{1,\cdots,9\}$.

In [4]:
Number2English[2]

'two'

The expression <tt>Number2English[10]</tt> would return an error message, as $10$ is not a key of the dictionary <tt>Number2English</tt>.  We can check whether an object is a key of a dictionary by using the operator <tt>in</tt> as shown below:

In [5]:
10 in Number2English

False

In [6]:
7 in Number2English

True

We can easily extend our dictionary as shown below:

In [7]:
Number2English[10] = 'ten'

In [8]:
Number2English

{1: 'one',
 2: 'two',
 3: 'three',
 4: 'four',
 5: 'five',
 6: 'six',
 7: 'seven',
 8: 'eight',
 9: 'nine',
 10: 'ten'}

In order to have more fun, let us define a second dictionary.

In [9]:
Number2Hebrew = { 1:"echad", 2:"shtaim", 3:"shalosh", 4:"arba", 5:"hamesh", 
                  6:"shesh", 7:"sheva", 8:"shmone", 9: "tesha", 10: "eser"
                }

**Disclaimer:** I don't know any Hebrew, I have taken these names from the following <a href="https://www.youtube.com/watch?v=FBd9QdpqUz0">youtube video</a>.

Dictionaries can be built via comprehension expressions.  Let us demonstrate this be computing the inverse of the dictionary <tt> Number2English</tt>:

In [10]:
English2Number = { Number2English[name]:name for name in Number2English }
English2Number

{'one': 1,
 'two': 2,
 'three': 3,
 'four': 4,
 'five': 5,
 'six': 6,
 'seven': 7,
 'eight': 8,
 'nine': 9,
 'ten': 10}

The example above shows that we can iterate over the keys of a dictionary.  Lets use this to build a dictionary that translates the English names of numbers into their Hebrew equivalents:

In [11]:
English2Hebrew = { name:Number2Hebrew[English2Number[name]] for name in English2Number }
English2Hebrew

{'one': 'echad',
 'two': 'shtaim',
 'three': 'shalosh',
 'four': 'arba',
 'five': 'hamesh',
 'six': 'shesh',
 'seven': 'sheva',
 'eight': 'shmone',
 'nine': 'tesha',
 'ten': 'eser'}

In order to get the number of entries in a dictionary, we can use the function <tt>len</tt>.

In [12]:
len(English2Hebrew)

10

If we want to delete an entry from a dictionary, we can use the keyword <tt>del</tt> as follows:

In [13]:
del Number2English[1]
Number2English

{2: 'two',
 3: 'three',
 4: 'four',
 5: 'five',
 6: 'six',
 7: 'seven',
 8: 'eight',
 9: 'nine',
 10: 'ten'}

It is important to know that only immutable objects can serve as keys in a dictionary.  Therefore, number, strings, tuples, or frozensets can be used as keys, but lists or sets can not be used as keys.

Given a dictionary $d$, the method $d.\texttt{items}()$ can be used to iterate over all key-value pairs stored in the dictionary $d$.

In [14]:
{ pair for pair in English2Hebrew.items() }

{('eight', 'shmone'),
 ('five', 'hamesh'),
 ('four', 'arba'),
 ('nine', 'tesha'),
 ('one', 'echad'),
 ('seven', 'sheva'),
 ('six', 'shesh'),
 ('ten', 'eser'),
 ('three', 'shalosh'),
 ('two', 'shtaim')}