In [1]:
%%HTML
<style>
.container { width:100% }
</style>

# An Introduction to *Python*

This notebook gives a short introduction to *Python*.  We will start with the basics but as the **main goal** of this introduction is to show how *Python* supports *sets* we will quickly move to more advanced topics.
In order to show off the features of *Python* we will give some examples that are not fully explained at the point 
where we introduce them.  However, rest assured that these features will be explained eventually.

## Evaluating expressions

As Python is an interactive language, expressions can be evaluated directly.  In a *Jupyter* 
notebook we just have to type <tt>Ctrl-Enter</tt> in the cell containing the expression.  Instead
of <tt>Ctrl-Enter</tt> we can also use <tt>Shift-Enter</tt>.

In [2]:
1 + 2

3

In *Python*, the precision of integers is not bounded.  Hence, the following expression does **not** cause
an <a href="https://en.wikipedia.org/wiki/Integer_overflow">integer overflow</a>.

In [3]:
1 * 2 * 3 * 4 * 5 * 6 * 7 * 8 * 9 * 10 * 11 * 12 * 13 * 14 * 15 * 16 * 17 * 18 * 19 * 20 * 21 * 22 * 23 * 24 * 25

15511210043330985984000000

The next *cell* in this notebook shows how to compute the *factorial* of 1000, i.e. it shows how to compute 
the product
$$ 1000! = 1 \cdot 2 \cdot 3 \cdot {\dots} \cdot 998 \cdot 999 \cdot 1000 $$
It uses some advanced features from *functional programming* that will be discussed later.

In [4]:
import functools 

functools.reduce(lambda x, y: (x*y), range(1, 1000+1))

402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

The following command will stop the interpreter if executed.  It is not useful inside a *Jupyter* notebook.  
Hence, the next line should not be evaluated.  

However, if you evaluate the following line, nothing bad will happen as the interpreter is just restarted by *Jupyter*.

In [5]:
exit()

In order to write something to the screen, we can use the function <tt>print</tt>.  This function can print objects of any type.  In the following example, this function prints a <tt>string</tt>.  In *Python* any character sequence 
enclosed in single quotes is <tt>string</tt>.

In [1]:
print('Hello, World!')

Hello, World!

The last expression in every notebook cell is automatically printed.

In [2]:
'Hello, World!'

'Hello, World!'

Instead of using single quotes we can also use double quotes as seen in the next example.  However, the convention is to use single quotes, unless the string itself contains a single quote.

In [3]:
"Hello, World!"

'Hello, World!'

The function <tt>print</tt> accepts any number of arguments.  For example, to print the string "36 * 37 / 2 = " followed by the value of the expression $36 \cdot 37 / 2$ we can use the following <tt>print</tt> statement:

In [4]:
print('36 * 37 / 2 =', 36 * 37 // 2)

36 * 37 / 2 = 666

In the expression "<tt>36 \* 37 // 2</tt>" we have used the operator "<tt>//</tt>" in order to enforce *integer division*.  If we had used the operator "<tt>/</tt>" instead, *Python* would have used *floating point division* and therefore it would have printed the floating point number <tt>666.0</tt> instead of the integer <tt>666<tt>.

In [5]:
print('36 * 37 / 2 =', 36 * 37 / 2)

36 * 37 / 2 = 666.0

In [6]:
range(1, 10)

range(1, 10)

In [7]:
set(range(1, 10))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

The following script reads a natural number $n$ and computes the sum $\sum\limits_{i=1}^n i$.
<ol>
    <li>The function <tt>input</tt> prompts the user to enter a string.
    </li>
    <li>This string is then converted into an integer using the function <tt>int</tt>.
    </li>
    <li>Next, the *set* <tt>s</tt> is created such that 
        $$\texttt{s} = \{1, \cdots, n\}. $$  
        The set <tt>s</tt> is constructed using the function <tt>range</tt>.  A function call 
        of the form $\texttt{range}(a, b + 1)$ returns a *generator* that produces the natural numbers starting
        from $a$ upto and including $b$.  By using this generator as an argument to the function <tt>set</tt>, 
        a set is created that contains all the natural number starting from $a$ upto and including $b$.
        The precise mechanics of *generators* will be explained later.
    </li>
    <li>The <tt>print</tt> statement uses the function <tt>sum</tt> to add up all the elements of the
        set <tt>s</tt>.  The effect of the last argument <tt>sep=''</tt> is to prevent <tt>print</tt> from 
        separating the previous arguments by spaces.
    </li>
</ol>

In [8]:
n = input('Type a natural number and press return: ')
n = int(n)
s = set(range(1, n+1))
print('The sum 1 + 2 + ... + ', n, ' is equal to ', sum(s), '.', sep='')

Type a natural number and press return: 36
The sum 1 + 2 + ... + 36 is equal to 666.

If we input $36 = 6^2$ above, we discover the following remarkable identity:
$$ \sum\limits_{i=1}^{6^2} i = 666. $$

The following example shows how *functions* can be defined in *Python*.  The function $\texttt{sum}(n)$ is supposed 
to compute the sum of all the numbers in the set $\{1, \cdots, n\}$.  Therefore, we have
$$\texttt{sum}(n) = \sum\limits_{i=1}^n i. $$  
The function <tt>sum</tt> is defined *recursively*.  The recursive implementation of the function <tt>sum</tt> can best by understood if we observe that it satisfies the following two equations:
<ol>
    <li> $\texttt{sum}(0) = 0$, </li>
    <li> $\texttt{sum}(n) = \texttt{sum}(n-1) + n \quad$  provided that $n > 0$.</li>
</ol>

In [9]:
def sum(n):
    if n == 0:
        return 0
    return sum(n-1) + n

In [10]:
sum

In [11]:
sum(3)

6

In [13]:
def sum(n):
    print(f'calling sum({n})')
    if n == 0:
        print('sum(0) = 0')
        return 0
    snm1 = sum(n-1) 
    print(f'sum({n}) = {snm1} + {n} = {snm1 + n}')
    return snm1 + n

In [14]:
sum(3)

calling sum(3)
calling sum(2)
calling sum(1)
calling sum(0)
sum(0) = 0
sum(1) = 0 + 1 = 1
sum(2) = 1 + 2 = 3
sum(3) = 3 + 3 = 6

6

Let us discuss the implementation of the function <tt>sum</tt> line by line:
<ol>
    <li> The keyword <tt>def</tt> starts the definition of the function. It is followed by the name of the function that is defined.  The name is followed by the list of the parameters of the function.  This list is enclosed in parentheses. If there had been more than one parameter, the parameters would have been separated by commas.  Finally, there needs to be a colon at the end of the first line.
    </li>
    <li> The body of the function is indented.  <b>Contrary</b> to most other programming languages, 
        <u>Python is space sensitive</u>. 
         The first statement of the body is a conditional statement, which starts with the keyword
         <tt>if</tt>.  The keyword is followed by a test.  In this case we test whether the variable $n$ 
         is equal to the number $0$.  Note that this test is followed by a colon.
    </li>
    <li> The next line contains a <tt>return</tt> statement.  Note that this statement is again indented.
         All statements indented by the same amount that follow an <tt>if</tt>-statement are considered as
         the body of the <tt>if</tt>-statement.  In this case the body contains only a single statement.
    </li>
    <li> The <tt>print</tt> statement in the penultimate line contains a so called 
        <a href="https://realpython.com/python-f-strings/">f-string</a>.  Expressions enclosed in curly braces are evaluated,           the result is converted to a string and inserted back into the f-string.  This behaviour is known as 
        <em style="color:blue;">string interpolation</em>.
    </li>
    <li> The last line of the function definition contains the recursive invocation of the function <tt>sum</tt>.
    </li>
</ol>

Using the function <tt>sum</tt>, we can compute the sum $\sum\limits_{i=1}^n i$ as follows:

In [ ]:
n     = int(input("Enter a natural number: "))
total = sum(n)
if n > 2:
    print("0 + 1 + 2 + ... + ", n, " = ", total, sep='')
else: 
    print(total)

## Sets in *Python*

*Python* supports sets as a **native** datatype. This is one of the reasons that have lead me to choose *Python* as the programming language for this course.  To get a first impression how sets are handled in *Python*, let us define two simple sets $A$ and $B$ and print them:

In [15]:
A = {1, 2, 3}
B = {2, 3, 4}
print(f'A = {A}, B = {B}')

A = {1, 2, 3}, B = {2, 3, 4}

There is a caveat here, we cannot define the empty set using the expression <tt>{}</tt> since this expression 
creates the empty <em style="color:blue;">dictionary</em> instead.  (We will discuss the data type of *dictionaries* later.) To define the empty set $\emptyset$, we therefore have to use the following expression:

In [16]:
set()

set()

Note that the empty set is also printed as <tt>set()</tt> in *Python* and not as <tt>{}</tt>.

Next, let us compute the <em style="color:blue;">union</em> $A \cup B$. This is done using the operator "<tt>|</tt>".

In [17]:
A | B

{1, 2, 3, 4}

To compute the <em style="color:blue;">intersection</em> $A \cap B$, we use the operator "<tt>&</tt>":

In [18]:
A & B

{2, 3}

The <em style="color:blue;">set difference</em> $A \backslash B$ is computed using the operator "<tt>-</tt>":

In [19]:
A - B

{1}

It is easy to test whether $A$ is a <em style="color:blue;">subset</em> of $B$, i.e. whether $A \subseteq B$ holds:

In [20]:
A <= B

False

Testing whether an object $x$ is an <em style="color:blue;">element</em> of a set $M$, i.e. to test whether $x \in M$ holds, is straightforward:

In [21]:
1 in A

True

On the other hand, the number $1$ is not an element of the set $B$, i.e. we have $1 \not\in B$:

In [22]:
1 not in B

True

It is important to know that sets are <b style="color:red; background-color:rgb(0,112,122)">not ordered</b>.  The reason is that sets are implemented as <em style="color:blue;">hash tables</em>.

In [23]:
print({-1,2,-3,4})

{2, 4, -3, -1}

However, if a set is displayed by a **Jupyter notebook** without a print statement, the elements are sorted.

In [24]:
{-1,2,-3,4}

{-3, -1, 2, 4}

## Defining Sets via Selection and Images

Remember how we can define subsets of a given set $M$ via the axiom of selection.   If $p$ is a property such that for any object $x$ from the set $M$ the expression $p(x)$ is either <tt>True</tt> or <tt>False</tt>,  the subset of all those elements of $M$ such that $p(x)$ is <tt>True</tt> can be defined as
$$ \{ x \in M \mid p(x) \}. $$
For example, if $M$ is the set $\{1, \cdots, 100\}$ and we want to compute the subset of this set that contains all numbers from $M$ that are divisible by $7$, then this set can be defined as
$$ \{ x \in M \mid x \texttt{%} 7 = 0 \}. $$
In *Python*, the definition of this set can be given as follows:

In [25]:
M = set(range(1, 100+1))
{ x for x in M if x % 7 == 0 }

{7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98}

In general, in *Python* the set
$$ \{ x \in M \mid p(x) \} $$
is computed by the expression
$$ \{\; x\; \texttt{for}\; x\; \texttt{in}\; M\; \texttt{if}\; p(x)\; \}. $$
*Image* sets can be computed in a similar way.  If $f$ is a function defined for all elements of a set $M$, the image set 
$$ \{ f(x) \mid x \in M \} $$
can be computed in *Python* as follows:
$$ \{\; f(x)\; \texttt{for}\; x\; \texttt{in}\; M\; \}. $$
For example, the following expression computes the set of all squares of  numbers from the set $\{1,\cdots,10\}$:

In [26]:
M = set(range(1,10+1))
{ x*x for x in M }

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

The computation of image sets and selections can be combined.  If $M$ is a set, $p$ is a property such that $p(x)$ is either <tt>True</tt> or <tt>False</tt> for elements of $M$, and $f$ is a function such that $f(x)$ is defined for all $x \in M$ then we can compute set 
$$ \{ f(x) \mid  x \in M \wedge p(x) \} $$
of all images $f(x)$ from those $x\in M$ that satisfy the property $p(x)$ via the expression
$$ \{\; f(x)\; \texttt{for}\; x\; \texttt{in}\; M\; \texttt{if}\; p(x)\; \}. $$
For example, to compute the set of those squares of numbers from the set $\{1,\cdots,10\}$ that are even we can write

In [27]:
{ x*x for x in M 
      if x % 2 == 0 
}

{4, 16, 36, 64, 100}

We can iterate over more than one set.  For example, let us define the set of all products $p \cdot q$ of numbers $p$ and $q$ from the set $\{2, \cdots, 10\}$, i.e. we intend to define the set
$$ \bigl\{ p \cdot q \bigm| p \in \{2,\cdots,10\} \wedge q \in \{2,\cdots,10\} \bigr\}. $$
In *Python*, this set is defined as follows:

In [28]:
{ p * q for p in range(2,6+1) 
        for q in range(2,6+1) 
}

{4, 6, 8, 9, 10, 12, 15, 16, 18, 20, 24, 25, 30, 36}

We can use this set to compute the set of *prime numbers*.  After all, the set of prime numbers is the set of all those natural numbers bigger than $1$ that can not be written as a proper product, that is a number $x$ is *prime* if 
<ul>
    <li> $x$ is bigger than $1$ and </li>
    <li> there are no natural numbers $p$ and $q$ both bigger than $1$ such that 
         $x = p \cdot q$ holds.</li>
</ul>
More formally, the set $\mathbb{P}$ of prime numbers is defined as follows:
$$ \mathbb{P} = \Bigl\{ x \in \mathbb{N} \;\bigm|\; x > 1 \wedge \neg \exists p, q \in \mathbb{N}: \bigl(x = p \cdot q \wedge p > 1 \wedge q > 1\bigr)\Bigr\}. $$
Hence the following code computes the set of all primes less 
than 100:

In [31]:
S = set(range(2, 101))
print(S - { p * q for p in S for q in S })

{2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97}

An alternative way to compute primes works by noting that a number $p$ is prime iff there is no number $t$ other than $1$ and $p$ that divides the number $p$.  The function <tt>dividers</tt> given below computes the set of all numbers dividing a given number $p$ evenly:

In [ ]:
def dividers(p):
    """
    Compute the set of numbers that divide the number p.
    """
    return { t for t in range(1, p+1) if p % t == 0 }

dividers(20)

In [ ]:
n      = 100
primes = { p for p in range(2, n) if dividers(p) == {1, p} }
print(primes)

## Computing the Power Set

Unfortunately, there is no operator to compute the power set $2^M$ of a given set $M$.  Since the power set is needed frequently, we have to implement a function <tt>power</tt> to compute this set ourselves.  The easiest way to compute the power set $2^M$ of a set $M$ is to implement the following recursive equations:
<ol>
    <li>The power set of the empty set contains only the empty set:
        $$2^{\{\}} = \bigl\{\{\}\bigr\}$$</li>
    <li>If a set $M$ can be written as $M = C \cup \{x\}$, where the element $x$ does not occur in the set $C$, then 
        the power set $2^M$ consists of two sets:</li>
        <ul>
            <li>Firstly, all subsets of $C$ are also subsets of $M$.</li>
            <li>Secondly, if A is a subset of $C$, then the set $A \cup\{x\}$ is also a subset of $M$.</li>
        </ul>
        If we combine these parts we get the following equation:
        $$2^{C \cup \{x\}} = 2^C \cup \bigl\{ A \cup \{x\} \bigm| A \in 2^C \bigr\}$$   
</ol> 
But there is another problem:  In *Python* we can't create a set that has elements that are sets themselves!  The expression <tt>{{1,2}, {2,3}}</tt> raises an exception when evaluated!  Instead, we have to use <tt>frozenset</tt>s as shown below:

In [32]:
{{1,2}, {2,3}}

TypeError: unhashable type: 'set'

In [33]:
{frozenset({1,2}), frozenset({2,3})}

{frozenset({2, 3}), frozenset({1, 2})}

In [34]:
M = { 1, 2, 3 }
M

{1, 2, 3}

In [35]:
N = M

In [36]:
N.add(4)

In [37]:
N

{1, 2, 3, 4}

In [38]:
M

{1, 2, 3, 4}

The reason we got this error is that in *Python* sets are implemented via *hash tables* and therefore the elements of a set need 
to be *hashable*. (The notion of a *hash table* will be discussed in more detail in the lecture on *Algorithms*.) However, sets are *mutable* and *mutable* objects are not *hashable*.  Fortunately, there is a
workaround: *Python* provides the data type of *frozen sets*.  These sets behave like sets but are are lacking certain function and hence are unmutable.  So if we use *frozen sets* as elements of the power set, we can compute the power set of a given set.  The function <tt>power</tt> given below shows how this works.

In [39]:
def power(M):
    "This function computes the power set of the set M."
    if M == set():
        return { frozenset() }
    else:
        C  = set(M)  # C is a copy of M as we don't want to change the set M
        x  = C.pop() # pop removes some element x from the set C
        P1 = power(C)
        P2 = { A | {x} for A in P1 }
        return P1 | P2

In [40]:
power(A)

{frozenset(),
 frozenset({2}),
 frozenset({2, 3}),
 frozenset({1}),
 frozenset({1, 2}),
 frozenset({3}),
 frozenset({1, 3}),
 frozenset({1, 2, 3})}

Let us print this in a more readable way.  To this end we implement a function <tt>prettify</tt> that turns a set of frozensets into a string that looks like a set of sets.

In [41]:
def prettify(M):
    """Turn the set of frozen sets M into a string that looks like a set of sets.
       M is assumed to be the power set of some set.
    """
    result = "{{}, "   # The empty set is always an element of a power set.
    for A in M:
        if A == set(): # The empty set has already been taken care of.
            continue
        result += str(set(A)) + ", " # A is converted from a frozen set to a set
    result = result[:-2] # remove the trailing substring ", "
    result += "}"
    return result

In [42]:
prettify(power(A))

'{{}, {2}, {2, 3}, {1, 2, 3}, {1, 2}, {3}, {1}, {1, 3}}'

The function $S\texttt{.add}(x)$ insert the element $x$ into the set $S$.

In [43]:
S = {1, 2, 3}
S.add(4)
S

{1, 2, 3, 4}

In *Python*, variables are <em style="color:blue;">references</em> and assignments 
<b style="color:red; background-color:rgb(0,112,122)">do not copy values</b>.  Instead, they just create new references to the old values!  This is the reason that below both <tt>A</tt> and <tt>B</tt> change their value, even so it seems that we only change <tt>A</tt>.

In [44]:
A = {1,2,3}
B = A
A.add(4)
print(f'A = {A}')
print(f'B = {B}')

A = {1, 2, 3, 4}
B = {1, 2, 3, 4}

In order to prevent this behaviour, we have to make a <em style="color:blue;">copy</em> of the set <tt>A</tt>.  This can be done by calling the function $\texttt{set}(\texttt{A})$.

In [45]:
A = {1,2,3}
B = set(A)
A.add(4)
print(f'A = {A}')
print(f'B = {B}')

A = {1, 2, 3, 4}
B = {1, 2, 3}

## Pairs and Cartesian Products

In *Python*, pairs can be created by enclosing the components of the pair in parentheses. For example, to compute the pair $\langle 1, 2 \rangle$ we can write:

In [46]:
(1, 2)

(1, 2)

It is not even necessary to enclose the components of a pair in parentheses.  For example, to compute the pair $\langle 1, 2 \rangle$ we can also use the following expression:

In [47]:
1, 2

(1, 2)

The Cartesian product $A \times B$ of two sets $A$ and $B$ can now be computed via the following expression:
$$ \{\; (x, y) \;\texttt{for}\; x \;\texttt{in}\; A\; \texttt{for}\; y\; \texttt{in}\; B\; \} $$ 
For example, as we have defined $A$ as $\{1,2,3\}$ and $B$ as $\{2,3,4\}$, the Cartesian product of $A$ and $B$ is computed as follows:

In [48]:
A = {1, 2, 3}
B = {4, 5}
{ (x,y) for x in A 
        for y in B 
}

{(1, 4), (1, 5), (2, 4), (2, 5), (3, 4), (3, 5)}

## Tuples

*Tuples* are a generalization of pairs.  For example, to compute the tuple $\langle 1, 2, 3 \rangle$ we can use the following expression:

In [49]:
(1, 2, 3)

(1, 2, 3)

Longer tuples can be build using the function <tt>range</tt> in combination with the function <tt>tuple</tt>:

In [50]:
tuple(range(1, 11))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Tuple can be *concatenated* using the operator <tt>+</tt>:

In [51]:
T1 = (1, 2, 3)
T2 = (4, 5, 6)
T3 = T1 + T2
T3

(1, 2, 3, 4, 5, 6)

The *length* of a tuple is computed using the function <tt>len</tt>:

In [52]:
len(T3)

6

The components of a tuple can be extracted using square brackets.  <b style="color:blue;">Note, that the first component of a tuple has the index $0$!</b>  This is similar to the behaviour of *arrays* in the programming language <tt>C</tt>.

In [53]:
print("T3[0] =", T3[0])
print("T3[1] =", T3[1])
print("T3[2] =", T3[2])

T3[0] = 1
T3[1] = 2
T3[2] = 3

If we use negative indices, then we index from the back of the tuple, as shown in the following example:

In [54]:
print(f'T3[-1] = {T3[-1]}') # last element
print(f'T3[-2] = {T3[-2]}') # penultimate element
print(f'T3[-3] = {T3[-3]}') # third last element

T3[-1] = 6
T3[-2] = 5
T3[-3] = 4

In [55]:
T3

(1, 2, 3, 4, 5, 6)

The <em style="color:blue;">slicing operator</em> extracts a subtuple from a given tuple.  If $L$ is a tuple and $a$ and $b$ are natural numbers such that $a \leq b$ and $a,b \in \{0, \texttt{len}(L) \}$, then the syntax of the slicing operator is as follows:
$$ L[a:b] $$
The expression $L[a:b]$ extracts the subtuple that starts with the element $L[a]$ up to and <b style="color:blue;">excluding</b> the element $L[b]$.  The following shows an example:

In [56]:
L = tuple(range(1,11))
print(f'L = {L}, L[2:6] = {L[2:6]}')

L = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10), L[2:6] = (3, 4, 5, 6)

Slicing works with negative indices, too:

In [57]:
L[2:-2]

(3, 4, 5, 6, 7, 8)

Slicing also works for strings.

In [58]:
s = 'abcdef'
s[2:-2]

'cd'

If we want to create a tuple of length $1$, we have to use the following syntax:

In [59]:
L = (1,)
L

(1,)

Note that above the comma is not optional as the expression $(1)$ would be interpreted as the number $1$.

## Lists

Next, we discuss the data type of lists.  Lists are a lot like tuples, but in contrast to tuples, lists are 
<em style="color:blue;">mutatable</em>, i.e. we can change lists.  To construct a list, we use square backets:

In [60]:
L = [1, 2, 3]
L

[1, 2, 3]

To change the first element of a list, we can use the index operator and use it on the left hand side of an assignment:

In [61]:
L[0] = 7
L

[7, 2, 3]

This last operation would not be possible if <tt>L</tt> had been a tuple instead of a list.
Lists support concatenation in the same way as tuples:

In [62]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

The function <tt>len</tt> computes the length of a list:

In [63]:
len([4,5,6])

3

Lists and tuples both support the functions <tt>max</tt> and <tt>min</tt>.  The expression $\texttt{max}(L)$ computes the maximum of all the elements of the list (or tuple) $L$, while $\texttt{min}(L)$ computes the smallest element of $L$.  These functions also operate on tuples or sets.  They even work on list of lists or set of frozensets, but this is not really useful.

In [64]:
max([1,2,3])

3

In [65]:
min([1,2,3])

1

In [66]:
max({1,2,3})

3

In [67]:
max([[1,2], [2,3,4], [5]])

[5]

In [68]:
max({frozenset({1,2}), frozenset({2,3,4}), frozenset({5})})

frozenset({5})

## Boolean Operators

In *Python*, the truth values, also known as <em style="color:blue;">Boolean</em> values, are written as <tt>True</tt> and <tt>False</tt>.

In [69]:
True

True

In [70]:
False

False

The following function is needed for pretty-printing.  It assumes that the argument <tt>val</tt> is a truth value.  This truth value is then turned into a string that has a size of 5 characters.

In [71]:
def toStr(val):
    if val:
        return 'True '
    return 'False'

These values can be combined using the <em style="color:blue;">Boolean operators</em> $\wedge$, $\vee$, and $\neg$.  In *Python*, these operators are denoted as <tt>and</tt>, <tt>or</tt>, and <tt>not</tt>.  The following table shows how the operator <tt>and</tt> is defined:

In [72]:
B = (True, False)
for x in B:
    for y in B:
        print(toStr(x), 'and', toStr(y), '=', x and y)

True  and True  = True
True  and False = False
False and True  = False
False and False = False

The <em style="color:blue;">disjunction</em> of two Boolean values is only <tt>False</tt> if both values are <tt>False</tt>:

In [73]:
for x in B:
    for y in B:
        print(toStr(x), 'or', toStr(y), '=', x or y)

True  or True  = True
True  or False = True
False or True  = True
False or False = False

Finally, the <em style="color:blue;">negation</em> operator works as expected:

In [74]:
for x in B:
    print('not', toStr(x), '=', not x)

not True  = False
not False = True

Boolean values are created by comparing numbers using the follwing comparison operators:
<ol>
    <li>$a\;\texttt{==}\;b$ is true iff $a$ is equal to $b$.</li>
    <li>$a\;\texttt{!=}\;b$ is true iff $a$ is different from $b$.</li>
    <li>$a\;\texttt{<}\;b$ is true iff $a$ is less than $b$.</li>
    <li>$a\;\texttt{<=}\;b$ is true iff $a$ is less than or equal to $b$.</li>
    <li>$a\;\texttt{>=}\;b$ is true iff $a$ is bigger than or equal to $b$.</li>
    <li>$a\;\texttt{>}\;b$ is true iff $a$ is bigger than $b$.</li>
</ol>

In [75]:
1 == 2

False

In [76]:
1 < 2

True

In [77]:
1 <= 2

True

In [78]:
1 > 2

False

In [79]:
1 >= 2

False

Comparison operators can be <em style="color:blue;">chained</em> as shown in the following example:

In [80]:
1 < 2 > -1

True

*Python* supports the <em style="color:blue;">universal quantifier</em> $\forall$.  If $L$ is a list of Boolean values, then we can check whether all elements of $L$ are <tt>True</tt> by writing
$$ \texttt{all}(L). $$
For example, to check whether all elements of a list $L$ are even we can write the following:

In [81]:
L = [2, 4, 6, 7]
all(x % 2 == 0 for x in L)

False

*Python* also supports the <em style="color:blue;">existential quantifier</em> $\exists$.  If $L$ is a list of Boolean values, the expression
$$ \texttt{any}(L) $$
is true iff there exists an element $x \in L$ such that $x$ is true.

In [82]:
any(x ** 2 > 2 ** x for x in range(1,5))

True

## Control Structures

First of all, *Python* supports branching statements.  The following example is taken from the *Python* tutorial at <a href="https://docs.python.org/3/tutorial/controlflow.html">https://python.org</a>:

In [ ]:
x = int(input("Please enter an integer: "))
if x < 0:
   print('The number is negative!')
elif x == 0:
   print('The number is zero.')
elif x == 1:
   print("It's a one.")
else:
   print("It's more than one.")

*Loops* can be used to iterate over sets, lists, tuples, or generators.  The following example prints the numbers from 1 to 10.

In [83]:
for x in range(1, 10+1):
    print(x)

1
2
3
4
5
6
7
8
9
10

The same can be achieved with a <tt>while</tt> loop:

In [84]:
x = 1
while x <= 10:
    print(x, end='')
    x += 1

12345678910

The following program computes the prime numbers according to an
<a href="https://en.wikipedia.org/wiki/Sieve_of_Eratosthenes">algorithm given by Eratosthenes</a>.
<ol>
    <li>We set $n$ equal to 100 as we want to compute the set all prime numbers less or equal that 100.</li>
    <li><TT>primes</TT> is the list of numbers from 0 upto $n$, i.e. we have initially
        $$ \texttt{primes} = [0,1,2,\cdots,n] $$
        Therefore, we have
        $$ \texttt{primes}[i] = i \quad \mbox{for all $i \in \{0,1,\cdots,n\}$.} $$
        The idea is to set <tt>primes[$i$]</tt> to zero iff $i$ is a proper product of two numbers.
    </li>
    <li>To this end we iterate over all $i$ and $j$ from the set $\{2,\cdots,n\}$
        and set the product $\texttt{primes}[i\cdot j]$ to zero.  This is achieved by the two <tt>for</tt> loops in line 3 and 4 below.</li>
    <li>Note that we have to check that the product $i * j$ is not bigger than $n$ for otherwise we would get an *out of range error* when trying to assign <tt>primes[i*j]</tt>.     
    </li>
    <li>After the iteration, all non-prime elements greater than one of the list primes have been set to zero.</li>
    <li>Finally, we compute the set of primes by collecting those elements that have not been set to $0$.</li>
</ol>

In [ ]:
n         = 100
primes    = list(range(0, n+1))
primes[1] = 0
for i in range(2, n+1):
    for j in range(2, n+1):
        if i * j <= n:
            primes[i * j] = 0
print(primes)
print({ i for i in range(2, n+1) if primes[i] != 0 })

The algorithm given above can be improved by using the following observations:
<ol>
    <li>If a number $x$ can be written as a product $a \cdot b$, then at least one of the numbers $a$ or $b$ has to be less than $\sqrt{x}$.  Therefore, the <tt>for</tt> loop in line 5 below iterates as long as $i \leq \sqrt{x}$.  The function <tt>ceil</tt> is needed to cast the square root of $x$ to a natural number.  In order to use the functions <tt>sqrt</tt> and <tt>ceil</tt> we have to import them from the module <tt>math</tt>.  This is done in line 1 of the program shown below. 
    </li>
    <li>When we iterate over $j$ in the inner loop, it is sufficient if we start with $j = i$ since all products of the form $i \cdot j$ where $j < i$ have already been eliminated at the time, when the multiples of $i$ had been eliminated.</li>
    <li>If <tt>primes[$i$] = 0</tt>, then $i$ is not a prime and hence it has to be a product of two numbers $a$ and $b$ both of which are smaller than $i$.  However, since all the multiples of $a$ and $b$ have already been eliminated, there is no point in eliminating the multiples of $i$ since these are also mulples of both $a$ and $b$ and hence they have already been eliminated.  Therefore, if <tt>primes[$i$] = 0</tt> we can immediately jump to the next value of $i$.  This is achieved by the <tt>continue</tt> statement in line 7 below. </li>
</ol>
The program shown below is easily capable of computing all prime numbers less than a million.

In [ ]:
%%time
from math import sqrt, ceil

n = 1000000
primes = list(range(n+1))
for i in range(2, ceil(sqrt(n))):
    if primes[i] == 0:
        continue
    j = i
    while i * j <= n:
        primes[i * j] = 0
        j += 1
P = { i for i in range(2, n+1) if primes[i] != 0 }
print(P)
print(sorted(list(P)))

## Numerical Functions

*Python* provides all of the mathematical functions that you have come to learn at school.  A detailed listing of these functions can be found at <a href="https://docs.python.org/3.6/library/math.html">https://docs.python.org/3.6/library/math.html</a>.  We just show the most important functions and constants.  In order to make the module <tt>math</tt> available, we use the following <tt>import</tt> statement:

In [85]:
import math

The mathematical constant <a href="https://en.wikipedia.org/wiki/Pi">Pi</a> which is most often written as $\pi$ is available as <tt>math.pi</tt>.

In [86]:
math.pi

3.141592653589793

The <a href="https://en.wikipedia.org/wiki/Sine">sine</a> function is called as follows:

In [87]:
math.sin(math.pi/6)

0.49999999999999994

The <a href="https://en.wikipedia.org/wiki/Trigonometric_functions#cosine">cosine</a> function is called as follows:

In [88]:
math.cos(0.0)

1.0

The tangent function is called as follows:

In [89]:
math.tan(math.pi/4)

0.9999999999999999

The arc sine, arc cosine, and arc tangent are called by prefixing the character '<tt>a</tt>' to the name of the function as seen below:

In [90]:
math.asin(1.0)

1.5707963267948966

In [91]:
math.acos(1.0)

0.0

In [92]:
math.atan(1.0)

0.7853981633974483

<a href="https://en.wikipedia.org/wiki/E_(mathematical_constant)">Euler's number $e$</a> can be computed as follows:

In [93]:
math.e

2.718281828459045

The exponential function $\mathrm{exp}(x) := e^x$ is computed as follows:

In [94]:
math.exp(1)

2.718281828459045

The natural logarithm $\ln(x)$, which is defined as the inverse of the function $\exp(x)$, is called <tt>log</tt> (instead of <tt>ln</tt>):

In [95]:
math.log(math.e * math.e)

2.0

The square root $\sqrt{x}$ of a number $x$ is computed using the function <tt>sqrt</tt>:

In [96]:
math.sqrt(2)

1.4142135623730951

The <em style="color:blue;">flooring function</em> $\texttt{floor}(x)$ truncates a floating point number $x$ down to the biggest integer number less or equal to $x$:
$$ \texttt{floor}(x) = \max(\{ n \in \mathbb{Z} \mid n \leq x \} $$

In [97]:
math.floor(1.999)

1

The <em style="color:blue;">ceiling function</em> $\texttt{ceil}(x)$ rounds a floating point number $x$ up to the next  integer number bigger or equal to $x$:
$$ \texttt{ceil}(x) = \min(\{ n \in \mathbb{Z} \mid x \leq n \} $$

In [98]:
math.ceil(1.001)

2

## The Help System

Typing a single question mark <tt>'?'</tt> starts the help system.

In [99]:
?

If the name of a module is followed by a question mark, a description of the module is printed.

In [ ]:
math?

This also works for functions defined in a module.

In [100]:
math.sin?

The question mark operator only works inside a <em style="color:blue;">Jupyter notebook</em>.  If you are using an interpreted in the command line for executing *Python* commands, use the function <tt>help</tt> instead.

In [101]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.6/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(...)
        acos(x)

        Return the arc cosine (measured in radians) of x.

    acosh(...)
        acosh(x)

        Return the inverse hyperbolic cosine of x.

    asin(...)
        asin(x)

        Return the arc sine (measured in radians) of x.

    asinh(...)
        asinh(x)

        Return the inverse hyperbolic sine of x.

    atan(...)
        atan(x)

        Return the arc tangent (measured in radians) of x.

    atan2(...)
        atan2(y, x)

        Return the arc tangent (measured in radians) of y/x.
        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(...)
        atanh(x)

        Return the inverse hyperbolic tangent of x.

    ceil(...)
        ceil(x)

        Return the ceiling of x as an Integral.
        This is the smallest integer >= x.

    copysign(...)
        copysign(x, y)

        Return a float with the magnitude (absolute value) of x but the sign
        of y. On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(...)
        cos(x)

        Return the cosine of x (measured in radians).

    cosh(...)
        cosh(x)

        Return the hyperbolic cosine of x.

    degrees(...)
        degrees(x)

        Convert angle x from radians to degrees.

    erf(...)
        erf(x)

        Error function at x.

    erfc(...)
        erfc(x)

        Complementary error function at x.

    exp(...)
        exp(x)

        Return e raised to the power of x.

    expm1(...)
        expm1(x)

        Return exp(x)-1.
        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(...)
        fabs(x)

        Return the absolute value of the float x.

    factorial(...)
        factorial(x) -> Integral

        Find x!. Raise a ValueError if x is negative or non-integral.

    floor(...)
        floor(x)

        Return the floor of x as an Integral.
        This is the largest integer <= x.

    fmod(...)
        fmod(x, y)

        Return fmod(x, y), according to platform C.  x % y may differ.

    frexp(...)
        frexp(x)

        Return the mantissa and exponent of x, as pair (m, e).
        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(...)
        fsum(iterable)

        Return an accurate floating point sum of values in the iterable.
        Assumes IEEE-754 floating point arithmetic.

    gamma(...)
        gamma(x)

        Gamma function at x.

    gcd(...)
        gcd(x, y) -> int
        greatest common divisor of x and y

    hypot(...)
        hypot(x, y)

        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(...)
        isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0) -> bool

        Determine whether two floating point numbers are close in value.

           rel_tol
               maximum difference for being considered "close", relative to the
               magnitude of the input values
            abs_tol
               maximum difference for being considered "close", regardless of the
               magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(...)
        isfinite(x) -> bool

        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(...)
        isinf(x) -> bool

        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(...)
        isnan(x) -> bool

        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(...)
        ldexp(x, i)

        Return x * (2**i).

    lgamma(...)
        lgamma(x)

        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x[, base])

        Return the logarithm of x to the given base.
        If the base not specified, returns the natural logarithm (base e) of x.

    log10(...)
        log10(x)

        Return the base 10 logarithm of x.

    log1p(...)
        log1p(x)

        Return the natural logarithm of 1+x (base e).
        The result is computed in a way which is accurate for x near zero.

    log2(...)
        log2(x)

        Return the base 2 logarithm of x.

    modf(...)
        modf(x)

        Return the fractional and integer parts of x.  Both results carry the sign
        of x and are floats.

    pow(...)
        pow(x, y)

        Return x**y (x to the power of y).

    radians(...)
        radians(x)

        Convert angle x from degrees to radians.

    sin(...)
        sin(x)

        Return the sine of x (measured in radians).

    sinh(...)
        sinh(x)

        Return the hyperbolic sine of x.

    sqrt(...)
        sqrt(x)

        Return the square root of x.

    tan(...)
        tan(x)

        Return the tangent of x (measured in radians).

    tanh(...)
        tanh(x)

        Return the hyperbolic tangent of x.

    trunc(...)
        trunc(x:Real) -> Integral

        Truncates x to the nearest Integral toward 0. Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /Users/karlstroetmann/anaconda3/envs/ds/lib/python3.6/lib-dynload/math.cpython-36m-darwin.so

In [102]:
help(math.sin)

Help on built-in function sin in module math:

sin(...)
    sin(x)

    Return the sine of x (measured in radians).

In [103]:
help(dir)

Help on built-in function dir in module builtins:

dir(...)
    dir([object]) -> list of strings

    If called without an argument, return the names in the current scope.
    Else, return an alphabetized list of names comprising (some of) the attributes
    of the given object, and of attributes reachable from it.
    If the object supplies a method named __dir__, it will be used; otherwise
    the default dir() logic is used and returns:
      for a module object: the module's attributes.
      for a class object:  its attributes, and recursively the attributes
        of its bases.
      for any other object: its attributes, its class's attributes, and
        recursively the attributes of its class's base classes.

We can use the function <tt>dir()</tt> to print the names of the variables that have been defined.

In [104]:
dir()

['A',
 'B',
 'In',
 'L',
 'M',
 'N',
 'NamespaceMagics',
 'Out',
 'S',
 'T1',
 'T2',
 'T3',
 '_',
 '_10',
 '_11',
 '_14',
 '_16',
 '_17',
 '_18',
 '_19',
 '_2',
 '_20',
 '_21',
 '_22',
 '_24',
 '_25',
 '_26',
 '_27',
 '_28',
 '_3',
 '_33',
 '_34',
 '_37',
 '_38',
 '_40',
 '_42',
 '_43',
 '_46',
 '_47',
 '_48',
 '_49',
 '_50',
 '_51',
 '_52',
 '_55',
 '_57',
 '_58',
 '_59',
 '_6',
 '_60',
 '_61',
 '_62',
 '_63',
 '_64',
 '_65',
 '_66',
 '_67',
 '_68',
 '_69',
 '_7',
 '_70',
 '_75',
 '_76',
 '_77',
 '_78',
 '_79',
 '_80',
 '_81',
 '_82',
 '_86',
 '_87',
 '_88',
 '_89',
 '_90',
 '_91',
 '_92',
 '_93',
 '_94',
 '_95',
 '_96',
 '_97',
 '_98',
 '_Jupyter',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_getshapeof',
 '_getsizeof',
 '_i',
 '_i1',
 '_i10',
 '_i100',
 '_i101',
 '_i102',
 '_i103',
 '_i104',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i83',
 '_i84',
 '_i85',
 '_i86',
 '_i87',
 '_i88',
 '_i89',
 '_i9',
 '_i90',
 '_i91',
 '_i92',
 '_i93',
 '_i94',
 '_i95',
 '_i96',
 '_i97',
 '_i98',
 '_i99',
 '_ih',
 '_ii',
 '_iii',
 '_nms',
 '_oh',
 'exit',
 'get_ipython',
 'getsizeof',
 'json',
 'math',
 'n',
 'np',
 'power',
 'prettify',
 'quit',
 's',
 'sum',
 'toStr',
 'var_dic_list',
 'x',
 'y']

The <em style="color:blue;">magic</em> command <tt>%quickref</tt> prints an overview of the so called 
<em style="color:blue;">magic commands</em> that are available in <em style="color:blue;">Jupyter notebooks</em>.

In [105]:
%quickref

We can use the command <tt>ls</tt> to list the files in the current directory.

In [106]:
ls -al

total 1984
drwxr-xr-x@ 68 karlstroetmann  staff    2176 Jan 30 15:10 ./
drwxr-xr-x@ 15 karlstroetmann  staff     480 Jan 29 15:42 ../
drwxr-xr-x@ 23 karlstroetmann  staff     736 Jan 30 09:45 .ipynb_checkpoints/
-rw-r--r--@  1 karlstroetmann  staff   12807 Nov 21 18:46 CNF.ipynb
-rw-r--r--@  1 karlstroetmann  staff   10556 Nov 18 18:27 Completeness.ipynb
-rw-r--r--@  1 karlstroetmann  staff   10153 Nov 21 17:24 Davis-Putnam.ipynb
-rw-r--r--@  1 karlstroetmann  staff    5951 Nov 21 10:05 Davis-Putnam.py~
-rw-r--r--@  1 karlstroetmann  staff   12074 Jan 30 12:12 Dictionaries.ipynb
-rw-r--r--@  1 karlstroetmann  staff    8391 Nov  5 16:05 Evaluate.ipynb
drwxr-xr-x@ 28 karlstroetmann  staff     896 Jan 29 15:43 Exercises/
-rw-r--r--@  1 karlstroetmann  staff   31178 Dec 11 15:36 FOL-CNF.ipynb
-rw-r--r--@  1 karlstroetmann  staff   16414 Dec  5 18:21 FOL-Evaluation.ipynb
-rw-r--r--@  1 karlstroetmann  staff    4023 Nov 28  2018 Find-Perfect.ipynb
-rw-r--r--@  1 karlstroetmann  staff    7322 Oct  4 17:53 Fixed-Point-Iteration.ipynb
-rw-r--r--@  1 karlstroetmann  staff    5434 Nov 28  2018 Graphviz-Demo.ipynb
-rw-r--r--@  1 karlstroetmann  staff   92308 Jan 30 15:10 Introduction.ipynb
-rw-r--r--@  1 karlstroetmann  staff    6994 Oct 23 12:40 Legendre-Conjecture.ipynb
-rw-r--r--@  1 karlstroetmann  staff    7728 Nov 28  2018 Logical-Symbols.ipynb
-rw-r--r--@  1 karlstroetmann  staff   17569 Feb  7  2019 Lucifer's-Puzzle.ipynb
-rw-r--r--@  1 karlstroetmann  staff   13476 Nov 21 17:23 N-Queens.ipynb
-rw-r--r--@  1 karlstroetmann  staff   13563 Oct 14 15:16 Path-Finding.ipynb
-rw-r--r--@  1 karlstroetmann  staff    6544 Oct  9 17:31 Poker.ipynb
-rw-r--r--@  1 karlstroetmann  staff   21589 Dec 13 18:23 Prover.ipynb
-rw-r--r--@  1 karlstroetmann  staff   10164 Nov 28  2018 Reachable.ipynb
-rw-r--r--@  1 karlstroetmann  staff   26193 Dec 14  2018 Resolution.ipynb
-rw-r--r--@  1 karlstroetmann  staff    9101 Nov 16 23:36 Rich-Output.ipynb
-rw-r--r--@  1 karlstroetmann  staff    2191 Nov 28  2018 Selection-Sort.ipynb
drwxr-xr-x@ 59 karlstroetmann  staff    1888 Jan 29 15:43 Solutions/
-rw-r--r--@  1 karlstroetmann  staff    3575 Oct 15 11:08 Strings.ipynb
-rw-r--r--@  1 karlstroetmann  staff   11473 Oct 23 12:40 Symbolic-Differentiation.ipynb
-rw-r--r--@  1 karlstroetmann  staff    7987 Nov 14 23:06 Tautology.ipynb
-rw-r--r--@  1 karlstroetmann  staff    5257 Dec 14 21:36 Transitive-Closure.ipynb
-rw-r--r--@  1 karlstroetmann  staff    3759 Oct 21 16:35 Turing.ipynb
-rw-r--r--@  1 karlstroetmann  staff   12564 Dec 13 18:23 Unification.ipynb
-rw-r--r--@  1 karlstroetmann  staff    5362 Oct 15 11:15 Unlimited-Precision.ipynb
-rw-r--r--@  1 karlstroetmann  staff   10537 Nov  7 09:17 Usual-Suspects.ipynb
-rw-r--r--@  1 karlstroetmann  staff   11764 Oct 14 15:51 Wolf-Goat-Cabbage.ipynb
drwxr-xr-x@ 10 karlstroetmann  staff     320 Dec 11 08:59 __pycache__/
-rw-r--r--@  1 karlstroetmann  staff    2860 Nov 12  2018 cnf.py
-rw-r--r--@  1 karlstroetmann  staff    1668 Nov  9  2018 cspSolver.py
-rw-r--r--@  1 karlstroetmann  staff    2063 Nov 15 19:30 davisPutnam.py
-rw-r--r--@  1 karlstroetmann  staff    1234 Jun 29  2018 diff.py
-rw-r--r--@  1 karlstroetmann  staff    5827 Jun 30  2018 exprParser.py
-rw-r--r--@  1 karlstroetmann  staff    1462 Nov  8  2018 extractVariables.py
-rw-r--r--@  1 karlstroetmann  staff     996 Aug 24  2018 find_path.py
-rw-r--r--@  1 karlstroetmann  staff     422 Aug 23  2018 fixed-point.py
-rw-r--r--@  1 karlstroetmann  staff    7240 Dec  7  2018 folCNF.py
-rw-r--r--@  1 karlstroetmann  staff    5753 Dec  5 11:08 folParser.py
-rw-r--r--@  1 karlstroetmann  staff    1411 May 15  2019 graph_2_dot.py
-rw-r--r--@  1 karlstroetmann  staff   31557 Jan 29  2019 graphics.py
-rw-r--r--@  1 karlstroetmann  staff     235 Oct 15 10:58 min_sort.py
-rw-r--r--@  1 karlstroetmann  staff     552 Aug 24  2018 path-cyclic.py
-rw-r--r--@  1 karlstroetmann  staff     415 Aug 24  2018 path.py
-rw-r--r--@  1 karlstroetmann  staff     452 Aug 23  2018 poker.py
-rw-r--r--@  1 karlstroetmann  staff     198 Oct 24  2018 power.py
-rw-r--r--@  1 karlstroetmann  staff    4410 Nov 21 18:45 propLogParser.py
-rw-r--r--@  1 karlstroetmann  staff    3817 Dec 13  2018 prover.py
-rw-r--r--@  1 karlstroetmann  staff   90133 Nov 11  2018 queen-captures.png
-rw-r--r--@  1 karlstroetmann  staff  266600 Nov 11  2018 queens-vars.png
-rw-r--r--@  1 karlstroetmann  staff    6166 Apr 17  2017 send-more-money.pdf
-rw-r--r--@  1 karlstroetmann  staff     171 Aug 23  2018 solve.py
-rw-r--r--@  1 karlstroetmann  staff     225 May 21  2018 sum-recursive.py
-rw-r--r--@  1 karlstroetmann  staff     249 May 21  2018 sum.py
-rw-r--r--@  1 karlstroetmann  staff    2040 Oct 30  2018 tautology.py
-rw-r--r--@  1 karlstroetmann  staff     502 Oct  9 10:58 transitive-closure.py
-rw-r--r--@  1 karlstroetmann  staff    1857 Dec 10 16:59 unify.py
-rw-r--r--@  1 karlstroetmann  staff     345 Jan 29  2019 updates.py
-rw-r--r--@  1 karlstroetmann  staff    1701 Oct 22  2018 watson.py